{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign site_tags = site_tags | split: ',' %}

{% assign tag_count = 0 %}
{% for tag in site_tags %}
{% assign tag_count = tag_count | plus: site.tags[tag].size %}
{% endfor %}

{% for tag in tags %}
{% assign rel_tag_size = site.tags[tag].size | times: 3.0 | divided_by: tag_count | plus: 1 %}
<span style="font-size: {{ rel_tag_size }}em;">
  <a href="{{ site.url }}/tag/{{ tag | replace: " ", "-" | downcase }}" class="site-tags">{{ tag | slugize }}
  <span>({{ site.tags[tag].size }})</span>
  </a>
</span>
{% endfor %}
